@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

.education-case-studies {
  background: $color-white;
  border-top: 1px solid #e6e3ed;
  border-bottom: 1px solid #e6e3ed;
  padding: 70px 0 105px;

  @media all and (max-width: $grid-float-breakpoint) {
    padding: 70px 0 60px;
  }

  h2 {
    margin-top: 0;
    padding: 0;
    margin-bottom: 60px;
    color: $color-primary;
    font-weight: 700;
  }

  .case-study-element {
    display: flex;
    justify-content: flex-start;

    @media all and (max-width: $grid-float-breakpoint) {
      margin-bottom: 45px;
    }
  }

  .case-study-img {
    padding-right: 20px;
    width: 85px;

    @media all and (max-width: $container-large-desktop) {
      width: 65px;
    }
  }

  .case-study-content {
    width: calc(100% - 85px);
    padding-right: 10px;

    @media all and (max-width: $container-large-desktop) {
      width: calc(100% - 65px);
    }
  }

  a {
    &.case-study-btn {
      display: inline-block;
      margin-top: 15px;
      color: $color-white;
      background: $color-primary;
      font-size: 14px;
      font-weight: 400;
      border-radius: 4px;
      padding: 7px 13px;
      transition: all 0.2s ease;

      &:hover {
        text-decoration: none;
        background: $color-primary-dark;
      }
    }

    .case-study-title {
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 5px;
      color: $color-dark;
      transition: opacity 0.2s ease;
    }

    &:hover {
      text-decoration: none;
      opacity: 0.7;

      .case-study-title {
        text-decoration: none;
        opacity: 0.7;
      }
    }
  }

  .case-study-author {
    color: $color-gray;
    line-height: 1.3;
  }
}

.alert-banner-image img {
  max-width: unset;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
